
#firstpage
{
    background: url("../images/kiosk.jpg");
    background-size: cover;
    //opacity: 0.2;
}
#solgan-quote-wraper{text-align: center;background:url(../images/blur.jpg);padding: 0%;color: #fff;height: 885px;background-size: 100%;}

#male{text-align: center;background:url(../images/male.png);padding: 0%;color: #fff;height: 745px;background-size: 95%;}

#female{text-align: center;background:url(../images/female.png);padding: 0%;color: #fff;height: 745px;background-size: 95%;}
#chitwan, #nawalparasi, #makawanpur{text-align: center;background:url(../images/female.png);padding: 0%;color: #fff;height: 635px;background-size: 50%;}
.body{height: 985px;}
.nextbody{height: 1035px;}
.btn-lg, .btn-group-lg > .btn {
    border-radius: 6px;
    font-size: 40px;
    line-height: 1.33;
    padding: 25px 48px;
}
    .btn-lg, .btn-group-lg > .btn {
    border-radius: 6px;
    font-size: 40px;
    line-height: 1.33;
    padding: 25px 48px;
}
.panel {
        -webkit-transition-property : scale; 
        -webkit-transition-duration : 0.2s; 
        -webkit-transition-timing-function : ease-in-out; 
        -moz-transition : all 0.2s ease-in-out; 
        font-size: 30px;
    }

    .panel:hover {
        box-shadow: 0 0 10px rgba(0,0,0,.5);
        -moz-box-shadow: 0 0 10px rgba(0,0,0,.5);
        -webkit-box-shadow: 0 0 10px rgba(0,0,0,.5);
        background: #efefef;
    }
    .agegroup {
    background-color: #fff;
    display: block;
    line-height: 1.42857;
    padding: 4px;
    transition: all 0.2s ease-in-out 0s;
    float: left; width: 20%;
}
.gender
{
    background-color: #fff;
    display: block;
    line-height: 1.42857;
    padding: 4px;
    transition: all 0.2s ease-in-out 0s;
    float: left; width: 50%;
}
.district
{
    background-color: #fff;
    display: block;
    line-height: 1.42857;
    padding: 4px;
    transition: all 0.2s ease-in-out 0s;
    float: left; width: 25%;
}
#innerbody
{
    height: 805px;
}